name: "flare"

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    paths:
      - '.swiftlint.yml'
      - ".github/workflows/**"
      - "Package.swift"
      - "Source/**"
      - "Tests/**"

jobs:
  SwiftLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: GitHub Action for SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
        with:
          args: --strict
        env:
          DIFF_BASE: ${{ github.base_ref }}
  macOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - xcode: "Xcode_15.0"
            runsOn: macos-13
            name: "macOS 13, Xcode 15.0, Swift 5.9.0"
          - xcode: "Xcode_14.3.1"
            runsOn: macos-13
            name: "macOS 13, Xcode 14.3.1, Swift 5.8.0"
          - xcode: "Xcode_14.2"
            runsOn: macOS-12
            name: "macOS 12, Xcode 14.2, Swift 5.7.2"
          - xcode: "Xcode_14.1"
            runsOn: macOS-12
            name: "macOS 12, Xcode 14.1, Swift 5.7.1"
    steps:
      - uses: actions/checkout@v3
      - name: ${{ matrix.name }}
        run: xcodebuild test -scheme "Flare" -destination "platform=macOS" clean -enableCodeCoverage YES -resultBundlePath "./macos.xcresult" || exit 1
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          xcode: true
          xcode_archive_path: "./macos.xcresult"

  iOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "OS=17.0.1,name=iPhone 14 Pro"
            name: "iOS 17.0.1"
            xcode: "Xcode_15.0"
            runsOn: macos-13
          - destination: "OS=16.4,name=iPhone 14 Pro"
            name: "iOS 16.4"
            xcode: "Xcode_14.3.1"
            runsOn: macos-13
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: make setup_build_tools
      - name: Generate project
        run: make generate
      - name: ${{ matrix.name }}
        run: xcodebuild test -scheme "Flare" -destination "${{ matrix.destination }}" -testPlan AllTests clean -enableCodeCoverage YES -resultBundlePath "./iphonesimulator.xcresult" || exit 1
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          xcode: true
          xcode_archive_path: "./iphonesimulator.xcresult"

  tvOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "OS=17.0,name=Apple TV"
            name: "tvOS 17.0"
            xcode: "Xcode_15.0"
            runsOn: macos-13
          - destination: "OS=16.4,name=Apple TV"
            name: "tvOS 16.4"
            xcode: "Xcode_14.3.1"
            runsOn: macos-13
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: make setup_build_tools
      - name: Generate project
        run: make generate
      - name: ${{ matrix.name }}
        run: xcodebuild test -scheme "Flare" -destination "${{ matrix.destination }}" -testPlan AllTests clean -enableCodeCoverage YES -resultBundlePath "./appletvsimulator.xcresult" || exit 1
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          xcode: true
          xcode_archive_path: "./appletvsimulator.xcresult"

  watchOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "OS=10.0,name=Apple Watch Series 9 (45mm)"
            name: "watchOS 10.0"
            xcode: "Xcode_15.0"
            runsOn: macos-13
          - destination: "OS=9.4,name=Apple Watch Series 8 (45mm)"
            name: "watchOS 9.4"
            xcode: "Xcode_14.3.1"
            runsOn: macos-13
          - destination: "OS=8.5,name=Apple Watch Series 7 (45mm)"
            name: "watchOS 8.5"
            xcode: "Xcode_14.3.1"
            runsOn: macos-13
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: make setup_build_tools
      - name: Generate project
        run: make generate
      - name: ${{ matrix.name }}
        run: xcodebuild test -scheme "Flare" -destination "${{ matrix.destination }}" -testPlan UnitTests clean -enableCodeCoverage YES -resultBundlePath "./watchsimulator.xcresult" || exit 1
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          xcode: true
          xcode_archive_path: "./watchsimulator.xcresult"

  spm:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Xcode 15"
            xcode: "Xcode_15.0"
            runsOn: macos-13
          - name: "Xcode 14"
            xcode: "Xcode_14.3.1"
            runsOn: macos-13
    steps:
      - uses: actions/checkout@v3
      - name: ${{ matrix.name }}
        run: swift build -c release --target Flare

  # Beta:
  #   name: ${{ matrix.name }}
  #   runs-on: firebreak
  #   env:
  #     DEVELOPER_DIR: "/Applications/Xcode_15.0.app/Contents/Developer"
  #   timeout-minutes: 10
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       include:
  #         - destination: "OS=1.0,name=Apple Vision Pro"
  #           name: "visionOS 1.0"
  #           scheme: "Flare"
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: ${{ matrix.name }}
  #       run: xcodebuild test -scheme "${{ matrix.scheme }}" -destination "${{ matrix.destination }}" clean || exit 1