name: "flare-ui"

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    paths:
      - ".github/**"
      - '.swiftlint.yml'
      - ".github/workflows/**"
      - "Package@swift-5.7.swift"
      - "Package@swift-5.8.swift"
      - "Package.swift"
      - "Source/FlareUI/**"
      - "Tests/FlareUITests/**"

jobs:
  macOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - xcode: "Xcode_16.1"
            runsOn: macOS-14
            name: "macOS 14, Xcode 16.0, Swift 6.0.2"
          - xcode: "Xcode_15.4"
            runsOn: macOS-14
            name: "macOS 14, Xcode 15.4, Swift 5.10"
          - xcode: "Xcode_15.0"
            runsOn: macos-13
            name: "macOS 13, Xcode 15.0, Swift 5.9.0"
          - xcode: "Xcode_14.3.1"
            runsOn: macos-13
            name: "macOS 13, Xcode 14.3.1, Swift 5.8.0"
    steps:
      - uses: actions/checkout@v5
      - name: ${{ matrix.name }}
        uses: ./.github/actions/build_and_test
        with:
          scheme: FlareUI
          destination: "platform=macOS"
          name: ${{ matrix.name }}
          generate_project: false
      - name: Upload test coverage reports to Codecov
        uses: ./.github/actions/upload_test_coverage_report
        with:
          scheme_name: FlareUI
          filename: ${{ matrix.name }}
          token: ${{ secrets.CODECOV_TOKEN }}

  iOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "OS=18.1,name=iPhone 16 Pro"
            name: "iOS 18.1"
            xcode: "Xcode_16.1"
            runsOn: macOS-14
          - destination: "OS=17.5,name=iPhone 15 Pro"
            name: "iOS 17.5"
            xcode: "Xcode_15.4"
            runsOn: macOS-14
          - destination: "OS=17.0.1,name=iPhone 14 Pro"
            name: "iOS 17.0.1"
            xcode: "Xcode_15.0"
            runsOn: macos-13
          - destination: "OS=16.4,name=iPhone 14 Pro"
            name: "iOS 16.4"
            xcode: "Xcode_14.3.1"
            runsOn: macos-13
    steps:
      - uses: actions/checkout@v5
      - name: ${{ matrix.name }}
        uses: ./.github/actions/build_and_test
        with:
          scheme: FlareUI
          destination: ${{ matrix.destination }}
          name: ${{ matrix.name }}
          test_plan: FlareUIUnitTests
      - name: Upload test coverage reports to Codecov
        uses: ./.github/actions/upload_test_coverage_report
        with:
          scheme_name: FlareUI
          filename: ${{ matrix.name }}
          token: ${{ secrets.CODECOV_TOKEN }}

  tvOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "OS=18.1,name=Apple TV"
            name: "tvOS 18.1"
            xcode: "Xcode_16.1"
            runsOn: macOS-14
          - destination: "OS=17.5,name=Apple TV"
            name: "tvOS 17.5"
            xcode: "Xcode_15.4"
            runsOn: macOS-14
          - destination: "OS=17.0,name=Apple TV"
            name: "tvOS 17.0"
            xcode: "Xcode_15.0"
            runsOn: macos-13
          - destination: "OS=16.4,name=Apple TV"
            name: "tvOS 16.4"
            xcode: "Xcode_14.3.1"
            runsOn: macos-13
    steps:
      - uses: actions/checkout@v5
      - name: ${{ matrix.name }}
        uses: ./.github/actions/build_and_test
        with:
          scheme: FlareUI
          destination: ${{ matrix.destination }}
          name: ${{ matrix.name }}
          test_plan: FlareUIUnitTests
      - name: Upload test coverage reports to Codecov
        uses: ./.github/actions/upload_test_coverage_report
        with:
          scheme_name: FlareUI
          filename: ${{ matrix.name }}
          token: ${{ secrets.CODECOV_TOKEN }}

  watchOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "OS=11.1,name=Apple Watch Series 10 (46mm)"
            name: "watchOS 11.1"
            xcode: "Xcode_16.1"
            runsOn: macOS-14
          - destination: "OS=10.5,name=Apple Watch Series 9 (45mm)"
            name: "watchOS 10.5"
            xcode: "Xcode_15.4"
            runsOn: macOS-14
          - destination: "OS=10.0,name=Apple Watch Series 9 (45mm)"
            name: "watchOS 10.0"
            xcode: "Xcode_15.0"
            runsOn: macos-13
          - destination: "OS=9.4,name=Apple Watch Series 8 (45mm)"
            name: "watchOS 9.4"
            xcode: "Xcode_14.3.1"
            runsOn: macos-13
    steps:
      - uses: actions/checkout@v5
      - name: ${{ matrix.name }}
        uses: ./.github/actions/build_and_test
        with:
          scheme: FlareUI
          destination: ${{ matrix.destination }}
          name: ${{ matrix.name }}
          test_plan: FlareUIUnitTests
      - name: Upload test coverage reports to Codecov
        uses: ./.github/actions/upload_test_coverage_report
        with:
          scheme_name: FlareUI
          filename: ${{ matrix.name }}
          token: ${{ secrets.CODECOV_TOKEN }}

  spm:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "macOS 14, SPM 6.0.2 Test"
            xcode: "Xcode_16.1"
            runsOn: macOS-14
          - name: "macOS 14, SPM 5.9.0 Test"
            xcode: "Xcode_15.0"
            runsOn: macos-14
          - name: "macOS 13, SPM 5.8.1 Test"
            xcode: "Xcode_14.3.1"
            runsOn: macos-13
    steps:
      - uses: actions/checkout@v5
      - name: ${{ matrix.name }}
        run: swift build -c release --target FlareUI

  snapshots:
    name: snapshots / ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "OS=17.2,name=iPhone 15"
            name: "iOS 17.2"
            xcode: "Xcode_15.0"
            runsOn: macos-13
          - destination: "OS=17.2,name=Apple TV"
            name: "tvOS 17.2"
            xcode: "Xcode_15.0"
            runsOn: macos-13
    steps:
      - uses: actions/checkout@v5
      - name: ${{ matrix.name }}
        uses: ./.github/actions/build_and_test
        with:
          scheme: FlareUI
          destination: ${{ matrix.destination }}
          name: ${{ matrix.name }}SnapshotTests
          test_plan: SnapshotTests
      - name: Upload test coverage reports to Codecov
        uses: ./.github/actions/upload_test_coverage_report
        with:
          scheme_name: FlareUI
          filename: ${{ matrix.name }}SnapshotTests
          token: ${{ secrets.CODECOV_TOKEN }}

  merge-test-reports:
    needs: [iOS, macOS, watchOS, tvOS]
    runs-on: macos-13
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: test_output
      - run: xcrun xcresulttool merge test_output/**/*.xcresult --output-path test_output/final/final.xcresult
      - name: Upload Merged Artifact
        uses: actions/upload-artifact@v5
        with:
          name: MergedResult
          path: test_output/final

  discover-typos:
    name: Discover Typos
    runs-on: macOS-13
    env:
      DEVELOPER_DIR: /Applications/Xcode_14.1.app/Contents/Developer
    steps:
      - uses: actions/checkout@v5
      - name: Discover typos
        run: |
          export PATH="$PATH:/Library/Frameworks/Python.framework/Versions/3.11/bin"
          python3 -m pip install --upgrade pip
          python3 -m pip install codespell
          codespell --ignore-words-list="hart,inout,msdos,sur" --skip="./.build/*,./.git/*"