name: "flare"

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    paths:
      - ".github/**"
      - '.swiftlint.yml'
      - ".github/workflows/**"
      - "Package@swift-5.7.swift"
      - "Package@swift-5.8.swift"
      - "Package.swift"
      - "Source/Flare/**"
      - "Tests/**"

jobs:
  macOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - xcode: "Xcode_26.0.1"
            runsOn: macOS-26
            name: "macOS 26, Xcode 26.0, Swift 6.2.0"
          - xcode: "Xcode_16.1"
            runsOn: macOS-14
            name: "macOS 14, Xcode 16.1, Swift 6.0.2"
          - xcode: "Xcode_15.4"
            runsOn: macOS-14
            name: "macOS 14, Xcode 15.4, Swift 5.10"
          - xcode: "Xcode_15.2"
            runsOn: macos-14
            name: "macOS 14, Xcode 15.2, Swift 5.9.2"
    steps:
      - uses: actions/checkout@v6
      - name: ${{ matrix.name }}
        uses: ./.github/actions/build_and_test
        with:
          scheme: Flare
          destination: "platform=macOS"
          name: ${{ matrix.name }}
          generate_project: false
      - name: Upload test coverage reports to Codecov
        uses: ./.github/actions/upload_test_coverage_report
        with:
          scheme_name: Flare
          filename: ${{ matrix.name }}
          token: ${{ secrets.CODECOV_TOKEN }}

  iOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "OS=26.0.1,name=iPhone 17 Pro"
            xcode: "Xcode_26.0.1"
            runsOn: macOS-26
            name: "OS=26.0, Xcode 26.0, Swift 6.2.0"
          - destination: "OS=18.1,name=iPhone 16 Pro"
            name: "iOS 18.1"
            xcode: "Xcode_16.1"
            runsOn: macOS-14
          - destination: "OS=17.2,name=iPhone 15 Pro"
            name: "iOS 17.2"
            xcode: "Xcode_15.2"
            runsOn: macos-14
    steps:
      - uses: actions/checkout@v6
      - name: ${{ matrix.name }}
        uses: ./.github/actions/build_and_test
        with:
          scheme: Flare
          destination: ${{ matrix.destination }}
          name: ${{ matrix.name }}
          test_plan: AllTests
      - name: Upload test coverage reports to Codecov
        uses: ./.github/actions/upload_test_coverage_report
        with:
          scheme_name: Flare
          filename: ${{ matrix.name }}
          token: ${{ secrets.CODECOV_TOKEN }}

  tvOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "OS=26.0,name=Apple TV"
            xcode: "Xcode_26.0.1"
            runsOn: macOS-26
            name: "tvOS 26.0"
          - destination: "OS=18.1,name=Apple TV"
            name: "tvOS 18.1"
            xcode: "Xcode_16.1"
            runsOn: macOS-14
          - destination: "OS=17.2,name=Apple TV"
            name: "tvOS 17.2"
            xcode: "Xcode_15.2"
            runsOn: macos-14
    steps:
      - uses: actions/checkout@v6
      - name: ${{ matrix.name }}
        uses: ./.github/actions/build_and_test
        with:
          scheme: Flare
          destination: ${{ matrix.destination }}
          name: ${{ matrix.name }}
          test_plan: AllTests
      - name: Upload test coverage reports to Codecov
        uses: ./.github/actions/upload_test_coverage_report
        with:
          scheme_name: Flare
          filename: ${{ matrix.name }}
          token: ${{ secrets.CODECOV_TOKEN }}

  watchOS:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "OS=26.0,name=Apple Watch Ultra 3 (49mm)"
            xcode: "Xcode_26.0.1"
            runsOn: macOS-26
            name: "watchOS 26.0"
          - destination: "OS=11.1,name=Apple Watch Series 10 (46mm)"
            name: "watchOS 11.1"
            xcode: "Xcode_16.1"
            runsOn: macOS-14
          - destination: "OS=10.5,name=Apple Watch Series 9 (45mm)"
            name: "watchOS 10.5"
            xcode: "Xcode_15.3"
            runsOn: macOS-14
          - destination: "OS=10.2,name=Apple Watch Series 9 (45mm)"
            name: "watchOS 10.2"
            xcode: "Xcode_15.2"
            runsOn: macos-14
    steps:
      - uses: actions/checkout@v6
      - name: ${{ matrix.name }}
        uses: ./.github/actions/build_and_test
        with:
          scheme: Flare
          destination: ${{ matrix.destination }}
          name: ${{ matrix.name }}
          test_plan: UnitTests
      - name: Upload test coverage reports to Codecov
        uses: ./.github/actions/upload_test_coverage_report
        with:
          scheme_name: Flare
          filename: ${{ matrix.name }}
          token: ${{ secrets.CODECOV_TOKEN }}

  spm:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - destination: "macOS 26, SPM 6.2.0 Test"
            xcode: "Xcode_26.0.1"
            runsOn: macOS-26
          - destination: "macOS 15, SPM 6.0.2 Test"
            xcode: "Xcode_16.0"
            runsOn: macOS-15
          - name: "macOS 14, SPM 6.0.2 Test"
            xcode: "Xcode_16.1"
            runsOn: macOS-14
          - name: "macOS 14, SPM 5.10.0 Test"
            xcode: "Xcode_15.3"
            runsOn: macos-14
    steps:
      - uses: actions/checkout@v6
      - name: ${{ matrix.name }}
        run: swift build -c release --target Flare

  merge-test-reports:
    needs: [iOS, macOS, watchOS, tvOS]
    runs-on: macos-15
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: test_output
      - run: xcrun xcresulttool merge test_output/**/*.xcresult --output-path test_output/final/final.xcresult
      - name: Upload Merged Artifact
        uses: actions/upload-artifact@v5
        with:
          name: MergedResult
          path: test_output/final

  discover-typos:
    name: Discover Typos
    runs-on: macos-15
    env:
      DEVELOPER_DIR: /Applications/Xcode_16.4.app/Contents/Developer
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python environment
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip install --upgrade pip
          pip install codespell

      - name: Discover typos
        run: |
          source .venv/bin/activate
          codespell --ignore-words-list="hart,inout,msdos,sur" --skip="./.build/*,./.git/*"
