name: lint

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "Sources/**"
      - ".github/workflows/ci.yml"
      - "Tests/**"

concurrency:
  group: lint-${{ github.head_ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: jdx/mise-action@v3
      - name: Run
        run: mise run lint

  discover-typos:
    name: discover-typos
    runs-on: macos-15
    env:
      DEVELOPER_DIR: /Applications/Xcode_16.4.app/Contents/Developer
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python environment
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip install --upgrade pip
          pip install codespell

      - name: Discover typos
        run: |
          source .venv/bin/activate
          codespell --ignore-words-list="hart,inout,msdos,sur" --skip="./.build/*,./.git/*"